select,
button {
  font-size: 1.2rem;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}
body #container {
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
body #container[podium] #podium-container {
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container[podium] #podium-container #podium {
  background-color: #fff;
  padding: 50px;
  width: 20%;
  height: 20%;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
body #container[podium] #podium-container #podium .winners {
  font-size: 1.2rem;
  margin: 0.2rem;
}
body #container[started] #background {
  top: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
}
body #container[started] #background #starting-grid {
  background-image: url(img/starting-grid.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 89px;
  left: 25vh;
  position: absolute;
}
body #container[started] #background #ending-grid {
  background-image: url(img/starting-grid.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 235px;
  right: 0;
  position: absolute;
}
body #container[started] #form-section {
  background-color: transparent;
}
body #container[started] #game-section #circuit-container #circuit .cars {
  background-color: transparent;
  border: none;
}
body #container[started] #game-section #circuit-container #circuit button {
  display: none;
}
body #container:not([started]) #form-section {
  background-color: rgba(0, 0, 0, 0.5);
}
body #container:not([started]) #form-section #form-container {
  background-color: rgba(255, 255, 255, 0.95);
}
body #container:not([started]) #game-section #circuit-container #circuit .cars {
  background-color: #eee;
  border: 1px solid black;
}
body #container:not([started]) #game-section #circuit-container #circuit button {
  display: "initial";
}
body #container #form-section {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container #form-section #form-container {
  padding: 50px;
  width: 60%;
  height: 60%;
  min-width: 600px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
body #container #form-section #form-container #form {
  display: flex;
  flex-direction: row;
}
body #container #form-section #form-container #form select {
  flex-grow: 1;
}
body #container #form-section #form-container #form button {
  flex-grow: 1;
  min-width: 5rem;
  background-color: #eee;
}
body #container #form-section #form-container #preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
body #container #form-section #form-container #preview img {
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 80%;
  box-sizing: border-box;
}
body #container #game-section {
  height: 100%;
}
body #container #game-section #circuit-container {
  height: 100%;
  display: flex;
  align-items: center; /* Center vertically */
}
body #container #game-section #circuit-container #circuit {
  height: 60%;
  position: relative;
}
body #container #game-section #circuit-container #circuit .cars {
  position: relative;
  padding: 1rem;
  flex: 1; /* Take remaining height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
body #container #game-section #circuit-container #circuit .cars img {
  width: 20vh;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
}
body #container #game-section #circuit-container #circuit .cars button {
  position: absolute;
  right: 0;
  top: 0;
}/*# sourceMappingURL=style.css.map */